In [26]:
import pymongo
import pandas as pd
from pymongo import MongoClient
client = MongoClient()
db = client.movies
collection = db.movies
data = pd.DataFrame(list(collection.find()))

In [27]:
data.head()

,_id,bad,best,good,great,gross,query,tweets,worst
0,58199944c42bc91cb810bac4,0.012868,0.027711,0.084271,0.033756,24710273.0,#TheAccountant,16708,0.000718
1,58199944c42bc91cb810bac7,0.000000,0.006154,0.026667,0.082051,707021.0,#PricelessTheMovie,975,0.000000
2,58199944c42bc91cb810bac8,0.003304,0.010307,0.016522,0.011172,28501448.0,#MadeaHalloween,12710,0.000315
3,58199944c42bc91cb810bac9,0.011862,0.004486,0.005183,0.009071,22872490.0,#JackReacherMovie,10032,0.000199
4,58199944c42bc91cb810baca,0.009572,0.009305,0.018977,0.003202,14065500.0,#OuijaMovie,29983,0.000334

In [28]:
data.head(11)

,_id,bad,best,good,great,gross,query,tweets,worst
0,58199944c42bc91cb810bac4,0.012868,0.027711,0.084271,0.033756,24710273.0,#TheAccountant,16708,0.000718
1,58199944c42bc91cb810bac7,0.000000,0.006154,0.026667,0.082051,707021.0,#PricelessTheMovie,975,0.000000
2,58199944c42bc91cb810bac8,0.003304,0.010307,0.016522,0.011172,28501448.0,#MadeaHalloween,12710,0.000315
3,58199944c42bc91cb810bac9,0.011862,0.004486,0.005183,0.009071,22872490.0,#JackReacherMovie,10032,0.000199
4,58199944c42bc91cb810baca,0.009572,0.009305,0.018977,0.003202,14065500.0,#OuijaMovie,29983,0.000334
5,58199944c42bc91cb810bacb,0.008501,0.002834,0.015198,0.006440,5461475.0,#KeepingUpWithTheJoneses,3882,0.001030
6,58199944c42bc91cb810bac6,0.000998,0.008423,0.038016,0.006705,11767210.0,#KevinHartWhatNow,18045,0.000000
7,58199944c42bc91cb810bacc,0.002435,0.014507,0.051885,0.058873,14860425.0,#InfernoMovie,9444,0.004024
8,58199944c42bc91cb810bacd,0.000000,0.015890,0.008475,0.028602,44725.0,#GimmeDanger,944,0.000000
9,58199944c42bc91cb810bac5,0.006738,0.001684,0.007861,0.004492,2182216.0,#MaxSteel,1781,0.002246
10,58199944c42bc91cb810bac3,0.001228,0.007194,0.007721,0.008423,15141789.0,#StayPeculiar,5699,0.000000

In [29]:
del data['_id']

In [30]:
data.head()

,bad,best,good,great,gross,query,tweets,worst
0,0.012868,0.027711,0.084271,0.033756,24710273.0,#TheAccountant,16708,0.000718
1,0.000000,0.006154,0.026667,0.082051,707021.0,#PricelessTheMovie,975,0.000000
2,0.003304,0.010307,0.016522,0.011172,28501448.0,#MadeaHalloween,12710,0.000315
3,0.011862,0.004486,0.005183,0.009071,22872490.0,#JackReacherMovie,10032,0.000199
4,0.009572,0.009305,0.018977,0.003202,14065500.0,#OuijaMovie,29983,0.000334

In [31]:
worst = data['worst']
data.drop(labels=['worst'], axis=1, inplace=True)
data.insert(1, 'worst', worst)
data.head()

,bad,worst,best,good,great,gross,query,tweets
0,0.012868,0.000718,0.027711,0.084271,0.033756,24710273.0,#TheAccountant,16708
1,0.000000,0.000000,0.006154,0.026667,0.082051,707021.0,#PricelessTheMovie,975
2,0.003304,0.000315,0.010307,0.016522,0.011172,28501448.0,#MadeaHalloween,12710
3,0.011862,0.000199,0.004486,0.005183,0.009071,22872490.0,#JackReacherMovie,10032
4,0.009572,0.000334,0.009305,0.018977,0.003202,14065500.0,#OuijaMovie,29983

In [32]:
query = data['query']
data.drop(labels=['query'], axis=1, inplace=True)
data.insert(0, 'query', query)
best = data['best']
data.drop(labels=['best'], axis=1, inplace=True)
data.insert(5, 'best', best)
data.head()

,query,bad,worst,good,great,best,gross,tweets
0,#TheAccountant,0.012868,0.000718,0.084271,0.033756,0.027711,24710273.0,16708
1,#PricelessTheMovie,0.000000,0.000000,0.026667,0.082051,0.006154,707021.0,975
2,#MadeaHalloween,0.003304,0.000315,0.016522,0.011172,0.010307,28501448.0,12710
3,#JackReacherMovie,0.011862,0.000199,0.005183,0.009071,0.004486,22872490.0,10032
4,#OuijaMovie,0.009572,0.000334,0.018977,0.003202,0.009305,14065500.0,29983

In [33]:
tweets = data.tweets
data.drop(labels=['tweets'], axis=1, inplace=True)
data.insert(1, 'tweets', tweets)
data.head(11)

,query,tweets,bad,worst,good,great,best,gross
0,#TheAccountant,16708,0.012868,0.000718,0.084271,0.033756,0.027711,24710273.0
1,#PricelessTheMovie,975,0.000000,0.000000,0.026667,0.082051,0.006154,707021.0
2,#MadeaHalloween,12710,0.003304,0.000315,0.016522,0.011172,0.010307,28501448.0
3,#JackReacherMovie,10032,0.011862,0.000199,0.005183,0.009071,0.004486,22872490.0
4,#OuijaMovie,29983,0.009572,0.000334,0.018977,0.003202,0.009305,14065500.0
5,#KeepingUpWithTheJoneses,3882,0.008501,0.001030,0.015198,0.006440,0.002834,5461475.0
6,#KevinHartWhatNow,18045,0.000998,0.000000,0.038016,0.006705,0.008423,11767210.0
7,#InfernoMovie,9444,0.002435,0.004024,0.051885,0.058873,0.014507,14860425.0
8,#GimmeDanger,944,0.000000,0.000000,0.008475,0.028602,0.015890,44725.0
9,#MaxSteel,1781,0.006738,0.002246,0.007861,0.004492,0.001684,2182216.0
10,#StayPeculiar,5699,0.001228,0.000000,0.007721,0.008423,0.007194,15141789.0

In [34]:
del data['query']
data.head()

   tweets       bad     worst      good     great      best       gross
0   16708  0.012868  0.000718  0.084271  0.033756  0.027711  24710273.0
1     975  0.000000  0.000000  0.026667  0.082051  0.006154    707021.0
2   12710  0.003304  0.000315  0.016522  0.011172  0.010307  28501448.0
3   10032  0.011862  0.000199  0.005183  0.009071  0.004486  22872490.0
4   29983  0.009572  0.000334  0.018977  0.003202  0.009305  14065500.0

In [35]:
total_data = data.values
total_data

array([[  1.67080000e+04,   1.28680871e-02,   7.18218817e-04,
          8.42710079e-02,   3.37562844e-02,   2.77112760e-02,
          2.47102730e+07],
       [  9.75000000e+02,   0.00000000e+00,   0.00000000e+00,
          2.66666667e-02,   8.20512821e-02,   6.15384615e-03,
          7.07021000e+05],
       [  1.27100000e+04,   3.30448466e-03,   3.14712825e-04,
          1.65224233e-02,   1.11723053e-02,   1.03068450e-02,
          2.85014480e+07],
       [  1.00320000e+04,   1.18620415e-02,   1.99362041e-04,
          5.18341308e-03,   9.07097289e-03,   4.48564593e-03,
          2.28724900e+07],
       [  2.99830000e+04,   9.57209085e-03,   3.33522329e-04,
          1.89774205e-02,   3.20181436e-03,   9.30527299e-03,
          1.40655000e+07],
       [  3.88200000e+03,   8.50077280e-03,   1.03039670e-03,
          1.51983514e-02,   6.43997939e-03,   2.83359093e-03,
          5.46147500e+06],
       [  1.80450000e+04,   9.97506234e-04,   0.00000000e+00,
          3.80160709e-02,   6.70545858e-03,   8.42338598e-03,
          1.17672100e+07],
       [  9.44400000e+03,   2.43540873e-03,   4.02371876e-03,
          5.18847946e-02,   5.88733587e-02,   1.45065650e-02,
          1.48604250e+07],
       [  9.44000000e+02,   0.00000000e+00,   0.00000000e+00,
          8.47457627e-03,   2.86016949e-02,   1.58898305e-02,
          4.47250000e+04],
       [  1.78100000e+03,   6.73778776e-03,   2.24592925e-03,
          7.86075239e-03,   4.49185851e-03,   1.68444694e-03,
          2.18221600e+06],
       [  5.69900000e+03,   1.22828566e-03,   0.00000000e+00,
          7.72065275e-03,   8.42253027e-03,   7.19424460e-03,
          1.51417890e+07]])

In [36]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(total_data[:,:6], total_data[:, 6], test_size=0.8, random_state=0)
X_test

array([[  2.99830000e+04,   9.57209085e-03,   3.33522329e-04,
          1.89774205e-02,   3.20181436e-03,   9.30527299e-03],
       [  1.78100000e+03,   6.73778776e-03,   2.24592925e-03,
          7.86075239e-03,   4.49185851e-03,   1.68444694e-03],
       [  1.27100000e+04,   3.30448466e-03,   3.14712825e-04,
          1.65224233e-02,   1.11723053e-02,   1.03068450e-02],
       [  5.69900000e+03,   1.22828566e-03,   0.00000000e+00,
          7.72065275e-03,   8.42253027e-03,   7.19424460e-03],
       [  1.80450000e+04,   9.97506234e-04,   0.00000000e+00,
          3.80160709e-02,   6.70545858e-03,   8.42338598e-03],
       [  9.75000000e+02,   0.00000000e+00,   0.00000000e+00,
          2.66666667e-02,   8.20512821e-02,   6.15384615e-03],
       [  9.44400000e+03,   2.43540873e-03,   4.02371876e-03,
          5.18847946e-02,   5.88733587e-02,   1.45065650e-02],
       [  9.44000000e+02,   0.00000000e+00,   0.00000000e+00,
          8.47457627e-03,   2.86016949e-02,   1.58898305e-02],
       [  1.00320000e+04,   1.18620415e-02,   1.99362041e-04,
          5.18341308e-03,   9.07097289e-03,   4.48564593e-03]])

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
clf = LinearRegression()
clf.fit(X_train, y_train)

print (clf.intercept_)
print (clf.coef_)

-364490.525901
[  1.50076392e+03   5.11017292e-04  -3.65277800e-05   8.08215738e-03
   3.19626734e-03   2.91092563e-03]